
<div class="modal-header" style="color:black; text-align:left;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Privacy Policy</h4>
</div>
<div class="modal-body footerpopup" style="color:black; text-align:left; font-family:'Roboto Condensed', 'Roboto', sans-serif; font-size:14px;">
    THE FOLLOWING TERMS AND CONDITIONS APPLY TO YOUR ACCESS AND THE USE OF THIS WEBSITE AND ALL RELATED SUB-SITES (HEREINAFTER, “SITE”) AND THE SERVICES PROVIDED HEREIN (HEREINAFTER, “SERVICES”) BY BUSINESS ORIGIN SDN. BHD. AND APPSTREAM SDN BHD (HEREINAFTER, “RESIDENT PORTAL”).
    <br /><br />
    IN CONSIDERATION OF OUR PERMITTING AND/OR PROVIDING THE SITE, AND BY ACCESSING ANY PAGE OF THE SITE AND/OR USING THE SERVICES, YOU AGREE TO BE BOUND BY THESE TERMS AND CONDITIONS WITHOUT LIMITATION OR QUALIFICATION.
    <br /><br />
    This Privacy Policy was written in English. To the extent any translated version conflicts with the English version, the English version controls.
    <br /><br />
    This Privacy Policy forms part of the terms and conditions of the General Terms of Use Agreement (“hereinafter, User Agreement”). This Privacy Policy contains the full understanding in respect of privacy, secrecy, confidentiality, and personal information between you and Resident Portal and supersedes any previous communications, representations, or agreements, verbal or written, related to the subject matter of this Privacy Policy. This Privacy Policy may not be modified or amended orally, impliedly, or in any manner not set forth in writing or permitted by this Privacy Policy.
    <br /><br />
    Resident Portal reserves the right, in its sole discretion, to change the information, material, functions, content of this Privacy Policy at any time. Resident Portal will notify users of any changes via announcement on the Site or through other reasonable means of providing notice. Any changes to this Privacy Policy will be effective immediately upon such notice. Your continued access of the Site and/or the Services provided after notice of any such change will be deemed as your consent and acceptance to be bound by the amended terms and conditions of this Privacy Policy.
    <br /><br />
    IF YOU DO NOT ACCEPT THESE TERMS AND CONDITIONS OR ARE NOT SATISFIED WITH THE SITE AND/OR SERVICES, PLEASE IMMEDIATELY DISCONTINUE YOUR ACCESS TO THE SITE AND/OR USE OF THE SERVICES.
    <br /><br /><br />

    <strong>1.	PERSONAL DATA</strong>
    <br />
    In using the Site and/or the Services, you may be asked to provide to Resident Portal certain personal information. This information will be in the possession and control of Resident Portal and may relate directly or indirectly to you (or any other corporation or individual) to the extent that you (or the other corporation or individual) may be identified or identifiable from that information, or from that combined with other information in the possession of Resident Portal (hereinafter, “Personal Data”). Resident Portal may “process” the Personal Data by way of collecting, recording, holding, storing, downloading, using or disclosing the Personal Data.
    <br /><br />
    The Personal Data that may be collected from you includes, but is not limited to, your name, address, telephone number, email address, and/or other information through which you can be identified or contacted with. For certain Services, it is mandatory for you to provide with Resident Portal your Personal Data, and the notice for such requirements would be expressly posted on the relevant page of the Site requesting such information. If you fail to provide such Personal Data, or choose to stop Resident Portal from processing such Personal Data, which you are entitled to do, Resident Portal may not be able to render the Services to you, or you may face a reduction of the quality of Services provided to you by Resident Portal. In any such event, Resident Portal shall not be liable to you whether for loss of opportunity or any other loss of damage which you may suffer.
    <br /><br /><br />

    <strong>2.	COOKIES</strong>
    <br />
    Resident Portal employs an industry standard technology called “cookies.” The so-called cookie is a small piece of information stored on the hard drive of your computer or device for record-keeping purposes, and is used by Resident Portal to track your visits. Cookies may be used to save your preferences for your ease and convenience when using the Site. Third party advertising networks may issue their separate cookies to your hard drive when serving advertisements.
    <br /><br />
    The type of anonymous click stream data collected by Resident Portal through the cookies may include but not limited to your IP address, date and time of visit of the Site, and whether your requests (including search requests and clicking on links to parts of the Site) were met with successfully. All such information collected through cookies are not Personal Data and you cannot be identified from this information. By collecting such anonymous information, Resident Portal can track user trends and patterns to allow Resident Portal to provide you with a better and more innovative user experience.
    <br /><br />
    You may choose to erase or block the cookies by changing the settings on your computer or device. Choosing to do so may reduce the quality of the Services being provided to you and Resident Portal shall not be liable to you, whether for loss of opportunity or any other loss of damage which you may suffer.
    <br /><br /><br />

    <strong>3.	SECURITY</strong>
    <br />
    Resident Portal has implemented the reasonable technology, policies and measure designed for securing and protecting your privacy from unauthorised access, improper use, disclosure and alteration. Resident Portal will make reasonable updates to its security measures at its sole discretion and ensure that authorised third parties use the Personal Data only for the purpose set out in Clause 6 and Clause 7 below, and to adequately ensure the continued confidentiality of the Personal Data.
    <br /><br /><br />

    <strong>4.	ACCURACY OF PERSONAL DATA</strong>
    <br />
    Resident Portal aims to keep all Personal Data as accurate, correct, up-to-date, reliable, and complete as possible. You may request access to and review your Personal Data on the relevant page of the Site after logging into your user account, and you may make the necessary changes from there.
    <br /><br /><br />
    
    <strong>5.	PURPOSE OF ACQUIRING AND PROCESSING PERSONAL DATA</strong>
    <br />
    Resident Portal may process the Personal Data to:
    <br />
    (A)	verify and authenticate your identity;<br />
    (B)	process the order for the Services requested, and provide you the Services;<br />
    (C)	administer and manage the Services to be provided to you;<br />
    (D)	contact you by email or telephone, should the need arises in respect of the Services or the Site;<br />
    (E)	detect, investigate and prevent fraudulent, prohibited or illegal activities;<br />
    (F)	enforce the terms and conditions of the User Agreement and other agreements; and/or<br />
    (G)	improve the quality of the Services which may be provided for you;<br />
    (H)	automatically scan messages to check for spam, fraud, phishing attacks, computer viruses or malicious computer programming routines, and other malicious activities or illegal or prohibited contents.
    <br /><br />
    It is necessary for Resident Portal to process your Personal Data for the aforementioned purposes in order to provide you Services. If you do not consent to the above, you may choose to remove your Personal Data. However, in doing so you are required to terminate your agreement with Resident Portal and may no longer use the Site or expect to receive the Services.
    <br /><br />
    Your Personal Data may be used for purposes of promotion and marketing to you, such as emailing you special offers and promotions by Resident Portal or Resident Portal’s third-party affiliates, both in general or customised based on the Personal Data processed, and you may opt out from such promotion and marketing if you choose to do so by notifying Resident Portal of your decision.
    <br /><br /><br />

    <strong>6.	DISCLOSURE OF PERSONAL DATA</strong>
    <br />
    Resident Portal may disclose your Personal Data to carefully selected third parties. Resident Portal shall endeavour to ensure that reasonable steps are taken to procure that all such third parties shall not use the Personal Data other than for that part of the purpose as set out below (“Purpose”) and to adequately ensure the confidentiality of your Personal Data. These third parties, and the purpose for their processing of your Personal Data, are as follows:
    <br />
    (A)	a third party contracted by Resident Portal or its affiliates (including its parent company, subsidiaries and associated companies), to provide services including but not limited to the following:
        <ol style="list-style-type:lower-alpha; margin-left:50px;">
            <li>customer related services;</li>
            <li>data processing and storage services;</li>
            <li>information technology services;</li>
            <li>market research services;</li>
            <li>fraud investigation; and</li>
            <li>billing and debt recovery;</li>
        </ol>
    <br />
    (B)	the shareholders and affiliates (including its parent company, subsidiaries and associated companies) of Resident Portal to reciprocally exchange sales information;
    <br />
    (C)	payment channels (including but not limited to financial institutions) to maintain and assess financial and payment records;
    <br />
    (D)	regulatory bodies, governmental bodies or other authorities, if required or authorized to do so, to satisfy any applicable law, regulation, judgment or legal process; enforce the terms and conditions of the User Agreement and other agreements; to protect the rights, property and personal safety of Resident Portal, its users or the public; and to detect, investigate, and prevent fraudulent, prohibited and illegal activities;
    <br />
    (E)	any party in relation to legal proceedings or prospective legal proceedings; and/or
    <br />
    (F)	any third party as permitted under the laws of Malaysia, including but not limited to the Personal Data Protection Act 2010.
    <br /><br /><br />

    <strong>7.	TRANSFER OF PERSONAL DATA OUTSIDE OF MALAYSIA</strong>
    <br />
    As part of the Services offered to you through the Site, the Personal Data you have provided to Resident Portal may be transferred outside of Malaysia. This may include, but not limited to, instances where Resident Portal stores data or back up data on servers located outside of Malaysia.
    <br />
    You hereby expressly consent to Resident Portal transferring your Personal Data outside Malaysia for such purposes. Resident Portal shall ensure that reasonable steps are taken to procure that all such third parties outside of Malaysia shall not use the Personal Data other than for that part of the purpose and to adequately ensure the confidentiality of the Personal Data.
    <br /><br />
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
</div>




