@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout_Empty.cshtml";
}

<div>
    <br/>
    <p class="text-center login-logo">
        <b>@(ViewBag.Message ?? "Error")</b>
    </p>
</div><!-- /.row -->