<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"> 
  <connectionStrings>
    <add name="PropComDbContext"
      connectionString="data source=appstream.dyndns-wiki.com,1433;initial catalog=PropCom;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="UploadPath" value="https://admin-staging.residentportal.my/upload/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web> 
    <sessionState mode="Custom" customProvider="RV_SessionStateStore" timeout="20" xdt:Transform="Replace">
      <providers>
        <add name="RV_SessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider" host="residentportalcache.redis.cache.windows.net" port="6380" accessKey="6Csr8WfaqY1+D5TG0qHM1JeShZAtsboeQsXJZ+bqW4o=" ssl="true" databaseId="2" />
      </providers>
    </sessionState> 
  </system.web> 
  <system.webServer xdt:Transform="Insert">
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true"/>
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}"/>
        </rule>
      </rules>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*"/>
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true"/>
          </conditions>
          <action type="Rewrite" value="max-age=31536000"/>
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>