<!DOCTYPE html>
<html>
<head>
    <title>Resident Portal Beta Programme Registration - Thank You</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700" rel="stylesheet"> 
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- CSS -->
    <link href="~/Content/vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css"> 
        #mainsection { text-align:center; }
        #mainsection h1 { font-family:'Archivo Narrow',sans-serif; font-size:32px; font-weight:700; color:black; text-align:center; padding:0px; margin-top:0px; }
        #mainsection p { font-family:'Open Sans',sans-serif; font-size:18px; font-weight:400; color:black; text-align:center; }
        #mainsection .importantnotice { padding:20px; background-color:#efefef; }
        #mainsection .importantnotice .alert { color:#af2121; font-size:20px; padding:0px 5px 0px 0px; font-weight:700; margin-bottom:5px; }
        #mainsection .importantnotice p { font-family:'Open Sans',sans-serif; font-size:16px;  }
        #mainsection .paymentdetailbox { font-family:'Open Sans',sans-serif; text-align:left; font-size:16px; }
        #mainsection .paymentdetailbox .title { font-weight:bold; text-transform:uppercase; padding:5px 0px; }
        #mainsection .bankinfotable { font-size:15px; text-align:left; margin:auto; }
    </style>
</head>
<body style="padding-top:20px;">
    <div id="mainsection" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <img src="~/Content/images/logo/Logo - Vertical (Small).png"  width="220" />
                <h1>Beta Programme Registration Successful</h1>
                <p>
                    <br />
                    Thank you for registering and supporting our Resident Portal Beta Programme. 
                    <br /><br />
                </p>
                <div class="importantnotice"> 
                    <div class="alert">IMPORTANT NOTICE</div> 
                    <p>
                        Please make the payment <b>soonest</b> to guarantee your spot. <b>Only the first 30 registrants</b> that successfully made a payment to us will secure a spot in our beta programme. We will send an email update to inform you once these limited 30 spots are filled up.
                    </p>
                </div>
                <br /><br />
                <div class="row">
                    <div class="col-sm-5">
                        <img src="~/Content/images/packages/beta-lifetime.png" class="img-responsive" />
                    </div>
                    <div class="col-sm-7 paymentdetailbox">
                        <br class="visible-xs"/>
                        <div class="title">HOW TO MAKE PAYMENT:</div> 
                        Payment can be made either via cheque made payable to Business Origin Sdn. Bhd. or a direct deposit into the following bank account:
                        <div style="padding:10px 10px 15px 10px;">
                            <table class="bankinfotable">
                                <tr>
                                    <td>Bank</td>
                                    <td>:&nbsp;&nbsp;Hong Leong Bank</td>
                                </tr>
                                <tr>
                                    <td>Name</td>
                                    <td>:&nbsp;&nbsp;Business Origin Sdn. Bhd.</td>
                                </tr>
                                <tr>
                                    <td>Account No.</td>
                                    <td>:&nbsp;&nbsp;20900033926</td>
                                </tr>
                            </table>
                        </div>
                        Once you have made the payment, please send us the payment confirmation slip along with your sign-up email and property name to <a href="mailto:payment@residentportal.my">payment@residentportal.my</a> and we will proceed to activate your account.
                    </div>
                </div>
                <br />
                <hr />
                <i>Do note that a copy of this payment instruction has also been sent to your email. Should you have any enquiries on payment, please email us at payment@residentportal.my or if you wish to speak to someone, call us at +603-64110828. We will be more than glad to help.</i>
                <p style="display:none;">
                    We will be launching our beta system on the 15th March 2017.
                    <br /><br />
                    An email will be sent to you when the beta system is launched along with instructions to access the system. We look forward to helping you manage your property more effectively and efficiently soon.<span style="display:none;">In the meantime, here is a checklist so that you can start gathering the information required to setup the system.</span>
                </p>     
                <br /><br /><br />
            </div>
        </div>
    </div>

    <script src="~/Content/vendor/jquery-2.2.4/jquery-2.2.4.min.js"></script>
    <script src="~/Content/vendor/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>
